<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Articles Curated For You</h1>
        </div>
    </section>
    <div class="articles">
        <h1>The Value of Money</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="img-in-box" src="./img/money.jpg" alt="The Value Of Money">
                    <figcaption><i>The Demand For Money</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>Money is important because it allows you to live a better life by giving you options and putting
                        you in charge. Having money and being financially secure also provides you the freedom and
                        options to
                        choose how you want to live and support the things that are most important to you in life.

                        For many people, money is a source of security and a means of achieving their goals and
                        aspirations.
                        It can be used to pay for basic necessities, such as food, housing, and healthcare, as well as
                        for luxuries, such as vacations and fancy cars. For others, money is a way to gain power,
                        status, and respect in society. <br>
                        <cite><a
                                href="https://roboticsandautomationnews.com/2023/01/18/why-is-money-important-in-our-lives/59144/#:~:text=For%20many%20people%2C%20money%20is,status%2C%20and%20respect%20in%20society.">Why
                                is Money Important in Our Lives?</a></cite>
                    <p>BY MARK ALLINSON, JANUARY 18, 2023</p>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="articles">
        <h1>GMO food</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="img-in-box" src="./img/food.png" alt="GMO food">
                    <figcaption><i>GMO Food</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p> “GMO” (genetically modified organism) has become the common term consumers and popular media use
                        to describe foods that have been created through genetic engineering. Genetic engineering is a
                        process that involves:

                        Identifying the genetic information—or “gene”—that gives an organism (plant, animal, or
                        microorganism) a desired trait
                        Copying that information from the organism that has the trait
                        Inserting that information into the DNA of another organism
                        Then growing the new organism

                        The most common GMO crops were developed to address the needs of farmers, but in turn they can
                        help foods become more accessible and affordable for consumers. Some GMO crops were developed
                        specifically to benefit consumers. For example, a GMO soybean that is used to create a healthier
                        oil is commercially grown and available. GMO apples that do not brown when cut are now available
                        for sale and may help reduce food waste. Plant scientists continue to develop GMO crops that
                        they hope will benefit consumers.
                        <br>
                        <cite><a
                                href=https://www.fda.gov/food/agricultural-biotechnology/how-gmo-crops-impact-our-world>
                                How GMO Crops Impact Our World</a></cite>
                    <p>BY U.S. FOOD AND DRUG ADMINISTRATION, APRIL 19, 2023</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="articles">
        <h1>The View of World in 2100</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="img-in-box" src="./img/future.jpg" alt="World in 2100">
                    <figcaption><i>Humans and AI</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>Many experts predict significant changes and challenges as the world approaches the turn of the
                        century. From the impacts of climate change to technological advances and global power shifts,
                        the world in 2100 is likely to look vastly different than it does today.

                        Merging of Humans and Artificial Intelligence:
                        The possibilities are limitless with the latest developments in artificial intelligence (AI) and
                        brain-computer interfaces. It's no longer just science fiction - we are living in a world where
                        our brains can be connected with AI to create a super-intelligent being that can guide us
                        through everyday life.

                        With this technology, we can easily solve any problem that comes our way, predict the future,
                        and achieve our life objectives with ease. Imagine seeing 50 steps ahead before taking any
                        action or multiplying our returns in stock and crypto markets by orders of magnitude. This is
                        just the beginning of what's possible with AI and brain-computer interfaces.

                        But the real game-changer is when synthetic brains become more common. Humans can operate
                        millions of times faster and make a century of intellectual progress in just one hour. This
                        technology will revolutionize how we live and work, and those who embrace it will have an edge
                        in the world's ever-changing landscape.

                        The only limitation is our biological brains, but once we overcome this bottleneck, there's no
                        telling what we can achieve. The future is exciting, and it's happening now.
                        <br>
                        <cite><a href=https://futuretechenthusiast.com/world-in-2100 />
                            The World in 2100</a></cite>
                    <p> FUTURE TECH ENTHUSIAST, MAY 19, 2023</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
