<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>A Collection Of Fruit Patterns</h1>
        </div>
    </section>
    <h1>Our Portfolio</h1>
    <div class="portfolio-container">
        <div class="portfolio-grid">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/01lemons.jpg" alt="lemons">
                <figcaption class="iamge-name">Lemons</figcaption>
            </figure>
        </div> 
        <div class="portfolio-grid">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/02apricot.jpg" alt="apricots">
                <figcaption class="iamge-name">Apricots</figcaption>
            </figure>
        </div>
        <div class="portfolio-grid">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/03watermelon.jpg" alt="watermelons">
                <figcaption class="iamge-name">Watermelons</figcaption>
         </figure>
        </div>
        <div class="portfolio-grid">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/04pear.png" alt="pears">
                <figcaption class="iamge-name">Pears</figcaption>
            </figure>
        </div>
        <div class="portfolio-grid">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/05mango.jpg" alt="mangoes">
                <figcaption class="iamge-name">Mangoes</figcaption>
            </figure>
        </div>
        <div class="portfolio-grid">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/06apple.png" alt="apples">
                <figcaption class="iamge-name">Apples</figcaption>
            </figure>
        </div>
    </div>
</div>
